.Header {
  display: block;
  .top-Navbar {
    background: #a74848;
    padding: 5px 100px;
    display: flex;
    .info-contact {
      width: 30%;
    }
    .social-icon {
      width: 25%;
    }
    .SearchArea {
      width: 30%;
    }
    .visitor-count {
      display: flex;
      .website-counter {
        text-align: center;
        width: 30px;
        margin: 0px 0px 0px 0px;
      }
    }
  }
  .Navbar {
    background: #2d2d2d;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 100px;
    a {
      padding: 0px 0px;
      text-decoration: none;
      .bxs-home {
        font-size: 20pt;
      }
    }
    .logo {
      background-color: #f0f0f0;
      img {
        width: 150px;
        height: auto;
        margin: auto auto;
      }
    }
    .buy-tickets {
      background: #a50f0f;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 5px;
    }
  }
}
