@import url("https://fonts.googleapis.com/css2?family=Garamond:wght@400&display=swap"); // Import Garamond font
.AboutUs {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;

  .history {
    color: #810000;
    text-align: center;
    font-family: "Garamond", serif;
    font-size: 2em;
  }

  .history-line {
    width: 60%; // Set the line width to 60% of the screen width
    margin: 20px auto; // Center-align the line with margin auto
    border: 0; // Remove default border
    height: 1px; // Set the height of the line
    background-color: #810000; // Set the color of the line
  }

  .content-container {
    display: flex;
    align-items: center; // Align items to the top
    padding: 20px;
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;

    .left-side {
      width: 60%; // Set the width to 60% of the screen width
      background-color: white; // Set the background to white to avoid inheriting any color

      img {
        width: 100%; // Ensure the image takes up the full width of its container
        filter: none;
        border-radius: 20px; // Add rounded edges to the image
        background-color: white; // Ensure the image background is white
      }
    }

    .text-content {
      // Styles for text content
      flex: 1;
      width: 40%; // Ensure the text content takes up the remaining 40%
    }
  }
}
