.AboutUs {
  padding: 60px 0px 30px 0px;

  .redBlock {
    background-color: #810000;
    padding: 7px 20px 7px;
    border-radius: 20px;
    h2 {
      color: #fff;
    }
  }

  .content-container {
    display: flex;
    align-items: center; // Align items to the top
    width:100%;
    padding: 0px 0px;
    margin: 30px 0px;
    border-radius: 20px;
    box-shadow: 10px 0 15px rgba(0, 0, 0, 0.2);
    .left-side {
      width: 60%; // Set the width to 60% of the screen width
      background-color: white; // Set the background to white to avoid inheriting any color
      margin: 0;
      padding: 0;

      img {
        width: 100%; // Ensure the image takes up the full width of its container
        filter: none;
        border-radius: 20px 0 0 20px; // Add rounded edges to the image
        background-color: white; // Ensure the image background is white
        margin: 0;
        padding: 0;
      }
    }

    .text-content {
      // Styles for text content
      flex: 1;
      width: 40%; // Ensure the text content takes up the remaining 40%
      padding-right: 3em;
      padding-left: 3em;
      color: #737373;
      p, h2{
        color: #737373;
      }
    }
  }
  .more-info-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    margin-top: 20px;
    .info-card {
      text-align: center;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      width: 33.33%;
      display: block;
      cursor: pointer;
      text-decoration: none;
      color: inherit;
      border-radius: 10px;
      overflow: hidden;
      img {
        width: 90%;
        height: auto;
        border-radius: 10px;
      }
      h3 {
        margin-top: 10px;
        font-size: 1.2em;
        color: #333;
      }
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
