@font-face {
  font-family: "Roboto Condensed";
  src: url("../assets/fonts/RobotoCondensed-VariableFont_wght.ttf")
    format("truetype");
}
* {
  color: white;
  font-family: "Roboto Condensed";
  margin: 0px 0px;
}

h1 {
  font-style: normal;
  font-size: 25pt;
  text-shadow: 0 0 20px black;
}

section {
  background: #4c4141;
  padding: 150px 100px;
}
